$lightblue: #d3f1fa;
$white: #fff;
$blue: #5bc0de;
$pink: #eb1677;
$yellow: #fbffcb;

body {
  background-image: url("../../../img/80swallpaper.jpg");
}

.navbar {
  background-color: $pink;
}

.navbar-link {
  color: white;
  opacity: 0.5;
}

.navbar-link:hover {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}