$blue: #5bc0de;
$white: #fff;
$red: #d9534f;
$black: #000;


.profile-view {
  border-radius: 8px;
}

.center-btn {
  margin-bottom: 0px;
}

.register {
  text-decoration: none;
}

.favourite-movies {
  padding: 50px 0 0 0;
}

.favourite-card {
  margin: 5px;
  border: thick double $black;
  border-radius: 4%;
}

.favourites {
  justify-content: center;
}