$blue: #5bc0de;
$white: #fff;
$pink: #eb1677;
$black: #000;
$yellow: #fbffcb;
$dark-pink: #ca0b61;

.movie-view {
  width: 30rem;
  border-radius: 10px;
  background-color: $yellow;
  border: 2px solid $pink;
}

.movie-poster {
  width: 15rem;
  margin: 2rem auto;
  padding: 2px;
  border: thick double $black;
  border-radius: 5%;
}

.center-btn {
  text-align: center;
  margin: 10px;
}

.favourites-button {
  background-color: $pink;
  border: none;
}

.favourites-button:hover {
  background-color: $dark-pink;
}