$blue: #0793f1;
$pink: #eb1677;
$yellow: #fbffcb;
$white: #fff;

.sub-heading:hover, 
.heading:hover {
  background-color: $pink;
}

.register {
  cursor: pointer;
  color: $pink;
}

.form-container {
  max-width: 500px;
  margin: auto;
  margin-top: 60px;
  border: 5px solid $pink;
  border-radius: 5%;
  padding: 40px;
  background-color: $yellow;
}

.login-btn {
  background-color: $blue;
  border: none;
  border-radius: 20px;
}

.small-text {
  padding-top: 15px;
}

.movie-images {
  text-align: center;
  padding-top: 50px;
}

.movie-images img {
  margin: 10px;
  border: 5px solid $pink;
  transition: width 0.5s;
}


.movie-images img:hover {
  width: 28%;
}

@media all and (max-width: 600px) {
  .form-container {
    max-width: 300px;
    border-radius: 40px;
    padding: 20px;
  }
 
}