$blue: #0793f1;
$pink: #eb1677;
$yellow: #fbffcb;
$white: #fff;


.heading {
  background-color: $pink;
  color: $white;
  padding: 5px;
  border-radius: 28px;
}

.sub-heading {
  background-color: $blue;
  color: $white;
  padding: 5px;
  border-radius: 18px;
}

.register {
  cursor: pointer;
  color: $pink;
}

.form-container {
  max-width: 500px;
  margin: auto;
  margin-top: 60px;
  border: 4px solid $pink;
  border-radius: 20%;
  padding: 40px;
  background-color: $yellow;
}

.login-btn {
  background-color: $blue;
  border: none;
  border-radius: 20px;
}

.small-text {
  padding-top: 15px;
}

.movie-images {
  text-align: center;
  padding-top: 50px;
  padding: space-between;
}


@media all and (max-width: 600px) {
  .form-container {
    max-width: 300px;
    border-radius: 40px;
    padding: 20px;
  }
 
}