$blue: #5bc0de;
$white: #fff;
$pink: #eb1677;
$black: #000;
$yellow: #fbffcb;

.director-container {
  max-width: 600px;
}

.director-view {
  margin: 10px;
  border-radius: 7px;
  background-color: $yellow;
  border: 2px solid $blue;
}

.director-title {
  font-size: 24px;
}